.header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo-container {
  background-color: blue;
  max-width: 150px;
}

.logo {
  /* take the width of the parent here parent is logo container*/
  width: 100%;
}

.nav-items {
  padding: 0px 30px;
}
.nav-items > ul {
  background-color: green;
  display: flex;
  list-style-type: None;
}

.nav-items > ul > li {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.body {
  background-color: pink;
}

.filter {
  background-color: grey;
  cursor: pointer;
  padding: 10px 10px;
  margin: 20px 0px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  background-color: yellow;
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.restaurant-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
}
